Index.json
[
    {
        "id": "539f29772b894afd",
        "type": "tab",
        "label": "Daily Weather Summary",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "02145b4216a669f4",
        "type": "ui_dropdown",
        "z": "539f29772b894afd",
        "name": "Country",
        "label": "Country :",
        "tooltip": "Select Country to know Weather Summary",
        "place": "Select a country",
        "group": "6f1747319d2d7139",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "United States",
                "value": "United States",
                "type": "str"
            },
            {
                "label": "Canada",
                "value": "Canada",
                "type": "str"
            },
            {
                "label": "Australia",
                "value": "Australia",
                "type": "str"
            },
            {
                "label": "United Kingdom",
                "value": "United Kingdom",
                "type": "str"
            },
            {
                "label": "Germany",
                "value": "Germany",
                "type": "str"
            },
            {
                "label": "France",
                "value": "France",
                "type": "str"
            },
            {
                "label": "Spain",
                "value": "Spain",
                "type": "str"
            },
            {
                "label": "Italy",
                "value": "Italy",
                "type": "str"
            },
            {
                "label": "China",
                "value": "China",
                "type": "str"
            },
            {
                "label": "India",
                "value": "India",
                "type": "str"
            },
            {
                "label": "Japan",
                "value": "Japan",
                "type": "str"
            },
            {
                "label": "Brazil",
                "value": "Brazil",
                "type": "str"
            },
            {
                "label": "Mexico",
                "value": "Mexico",
                "type": "str"
            },
            {
                "label": "South Africa",
                "value": "South Africa",
                "type": "str"
            },
            {
                "label": "Russia",
                "value": "Russia",
                "type": "str"
            },
            {
                "label": "South Korea",
                "value": "South Korea",
                "type": "str"
            },
            {
                "label": "Argentina",
                "value": "Argentina",
                "type": "str"
            },
            {
                "label": "Saudi Arabia",
                "value": "Saudi Arabia",
                "type": "str"
            },
            {
                "label": "Turkey",
                "value": "Turkey",
                "type": "str"
            },
            {
                "label": "Egypt",
                "value": "Egypt",
                "type": "str"
            },
            {
                "label": "Indonesia",
                "value": "Indonesia",
                "type": "str"
            },
            {
                "label": "Vietnam",
                "value": "Vietnam",
                "type": "str"
            },
            {
                "label": "Thailand",
                "value": "Thailand",
                "type": "str"
            },
            {
                "label": "Malaysia",
                "value": "Malaysia",
                "type": "str"
            },
            {
                "label": "Singapore",
                "value": "Singapore",
                "type": "str"
            },
            {
                "label": "New Zealand",
                "value": "New Zealand",
                "type": "str"
            },
            {
                "label": "Philippines",
                "value": "Philippines",
                "type": "str"
            },
            {
                "label": "Bangladesh",
                "value": "Bangladesh",
                "type": "str"
            },
            {
                "label": "Pakistan",
                "value": "Pakistan",
                "type": "str"
            },
            {
                "label": "Sri Lanka",
                "value": "Sri Lanka",
                "type": "str"
            },
            {
                "label": "Kenya",
                "value": "Kenya",
                "type": "str"
            },
            {
                "label": "Nigeria",
                "value": "Nigeria",
                "type": "str"
            },
            {
                "label": "Ghana",
                "value": "Ghana",
                "type": "str"
            },
            {
                "label": "Israel",
                "value": "Israel",
                "type": "str"
            },
            {
                "label": "Jordan",
                "value": "Jordan",
                "type": "str"
            },
            {
                "label": "Lebanon",
                "value": "Lebanon",
                "type": "str"
            },
            {
                "label": "UAE",
                "value": "UAE",
                "type": "str"
            },
            {
                "label": "Qatar",
                "value": "Qatar",
                "type": "str"
            },
            {
                "label": "Kuwait",
                "value": "Kuwait",
                "type": "str"
            },
            {
                "label": "Greece",
                "value": "Greece",
                "type": "str"
            },
            {
                "label": "Netherlands",
                "value": "Netherlands",
                "type": "str"
            },
            {
                "label": "Sweden",
                "value": "Sweden",
                "type": "str"
            },
            {
                "label": "Norway",
                "value": "Norway",
                "type": "str"
            },
            {
                "label": "Denmark",
                "value": "Denmark",
                "type": "str"
            },
            {
                "label": "Finland",
                "value": "Finland",
                "type": "str"
            },
            {
                "label": "Switzerland",
                "value": "Switzerland",
                "type": "str"
            },
            {
                "label": "Belgium",
                "value": "Belgium",
                "type": "str"
            },
            {
                "label": "Ireland",
                "value": "Ireland",
                "type": "str"
            },
            {
                "label": "Portugal",
                "value": "Portugal",
                "type": "str"
            },
            {
                "label": "Chile",
                "value": "Chile",
                "type": "str"
            },
            {
                "label": "Colombia",
                "value": "Colombia",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "40fb9029e6f25021"
            ]
        ]
    },
    {
        "id": "40fb9029e6f25021",
        "type": "function",
        "z": "539f29772b894afd",
        "name": "Get Country",
        "func": "const apiKey = '12f175251a8a4d51a6774353241509';\nconst country = msg.payload; // Selected country from dropdown\n// Build the WeatherAPI URL with the selected country\nmsg.url = `https://api.weatherapi.com/v1/current.json?key=${apiKey}&q=${country}&aqi=yes`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 300,
        "wires": [
            [
                "af1339daacf99703"
            ]
        ]
    },
    {
        "id": "af1339daacf99703",
        "type": "http request",
        "z": "539f29772b894afd",
        "name": "Get Weather Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 300,
        "wires": [
            [
                "b23b6ade1a6d55cd"
            ]
        ]
    },
    {
        "id": "f0644161b0671a74",
        "type": "ui_text",
        "z": "539f29772b894afd",
        "group": "6f1747319d2d7139",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "City",
        "label": "City :",
        "format": "{{msg.payload.city}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Times New Roman,Times,serif",
        "fontSize": "",
        "color": "#07bb9d",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "b23b6ade1a6d55cd",
        "type": "function",
        "z": "539f29772b894afd",
        "name": "Format Weather",
        "func": "\nconst weather = msg.payload.current;\nconst location = msg.payload.location;\nconst current = msg.payload.current;\nconst condition =msg.payload.current;\nmsg.payload = {\n    city:location.name,\n    region:location.region,\n    country:location.country,\n    celsius:current.temp_c,\n    fahrenheit:current.temp_f,\n    latitude:location.lat,\n    longitude:location.lon,\n    localtime:location.localtime,\n    cloud:condition.cloud,\n    humidity:condition.humidity,\n    feelscelsius:condition.feelslike_c,\n    feelsfahrenheit: condition.feelslike_f,\n    windspeed:condition.wind_kph,\n    winddirection:condition.wind_dir, \n    windchillcelsius:condition.windchill_c,\n    windchillfahrenheit: condition.windchill_f,\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 300,
        "wires": [
            [
                "f0644161b0671a74",
                "de77977d37ebe10d"
            ]
        ]
    },
    {
        "id": "de77977d37ebe10d",
        "type": "ui_template",
        "z": "539f29772b894afd",
        "group": "6f1747319d2d7139",
        "name": "Weather Summary",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div>\n    <h3>Weather in {{msg.payload.city}}</h3>\n    <p>region:{{msg.payload.region}} </p>\n    <p>country:{{msg.payload.country}}</p>\n    <p>Temperature: {{msg.payload.celsius}} °C / {{msg.payload.fahrenheit}} °f f</p>\n    <p>latitude: {{msg.payload.latitude}} </p> \n    <p>longitude:{{msg.payload.longitude}}</p>\n    <p>Date and time:{{msg.payload.localtime}}</p>\n    <p>cloud:{{msg.payload.cloud}}</p>\n    <p>Humidity: {{msg.payload.humidity}} %</p>\n    <p>feelscelsius:{{msg.payload.feelscelsius}} °C </p>\n    <p>windspeed: {{msg.payload.windspeed}} kmph </p>\n    <p>winddirection: {{msg.payload.winddirection}}</p>\n<p>windchillcelsius: {{msg.payload.windchillcelsius }}</p>\n<p>windchillfahrenheit: {{msg.payload.windchillfahrenheit }}</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 890,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6f1747319d2d7139",
        "type": "ui_group",
        "name": "Weather Summary",
        "tab": "11130b2099b2c68d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "11130b2099b2c68d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
